# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/config.toml

# Data (приховати папку з CSV, якщо вони занадто великі)
vhi_data/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/